<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        table td, table th {
            text-align: center;
        }
    </style>
</head>
<body>
<table class="table table-striped table-hover">
    {% for row in matrix %}
        <tr>
            {% for item in row %}
                {% if loop.first or loop.parent.loop.first %}
                    <th>{{ item }}</th>
                {% else %}
                    <td>{{ item }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</body>
</html>
